---
---

@import "{{ site.theme }}";

header {
    position: unset;
    box-sizing: border-box;
}

#banner {
    position: unset;
    right: unset;
    width: 100%;
    box-sizing: border-box;
}

nav {
    position: relative;
    top: 30px;
    float: left;
}

section {
    margin-top: unset;
}
